
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

#no_of_objects
{
font-size: 18px;
}

body{
    background-image:url(" background.jpg");
    background-position: center;
    background-size: cover;
}

.hyper2{
    margin-top: 0px;
}

.hyper3{
    width: 250px;
    border-radius: 10px;
}

canvas{
    border: 10px grey ridge;
}
